@model IEnumerable<mvc_practice_test.Models.Employee>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1> Employee Page </h1>

<a class="btn btn-danger" asp-area="" asp-controller="Employee" asp-action="AddEmployee"> New Employee</a>

<table class ="table">
    <thead> 
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Middle Name</th>
            <th scope="col">Preffered Name</th>
            <th scope="col">Maiden Name</th>
            <th scope="col">Employee Retired</th>
            <th scope="col"> Update Employee</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var employee in Model)
        {
            <tr>
                <td>
                    @employee.FirstName
                </td>
                <td>
                    @employee.LastName
                </td>
                <td>
                    @employee.MiddleName
                </td>
                <td>
                    @employee.PrefferedName
                </td>
                <td>
                    @employee.MaidenName
                </td>
                <td>
                    @employee.EmployeeRetired
                </td>
                <td>
                    <a asp-action="Delete" asp-controller="Employee" asp-route-id="@employee.EmployeeID"> Delete </a>
                </td>
            </tr>
        }
    </tbody>
</table>